<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <!-- ATUALIZAR SENHA -->
    <ion-item *ngIf="logadoEmailSenha">
      <ion-label fixed text-wrap>{{ 'NEW_PASSWORD' | translate }}</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-item *ngIf="logadoEmailSenha">
      <ion-label fixed text-wrap>{{ 'CONFIRM_NEW_PASSWORD' | translate }}</ion-label>
      <ion-input type="password" [(ngModel)]="senha2"></ion-input>
    </ion-item>
    <!-- TRADUÇÂO -->
    <ion-item>
      <ion-label>{{ 'LANGUAGE' | translate }}: </ion-label>
      <ion-select [(ngModel)]="idioma" >
        <ion-option value="en" >English</ion-option>
        <ion-option value="pt-BR" >Português</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="salvar()">{{ 'SAVE' | translate }}</button>
</ion-content>
