<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> {{ 'MY_GOALS' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- RESUMO -->
    <div id="resumo">
      <h2>{{ 'BRIEF' | translate }}</h2>
      <h4>{{ 'GOALS_REACHED' | translate }}: {{ metasAlcancada }} ({{ totalMetas }})</h4>
      <h4>{{ 'INVESTIMENTS' | translate }}: {{ totalInvestido }} ( {{ totalAlcancar }} )</h4>
      <h4>{{ porcentagem }}%</h4>
    </div>

    <!-- METAS -->
    <ion-card *ngFor="let meta of metas">
      <ion-item (click)="abrir(meta)">
        <h2>{{ meta.titulo }}</h2>
        <p *ngIf="meta.temPrazo">Prazo: {{ meta.prazo | dataBrasil }}</p>
      </ion-item>
    
      <ion-card-content (click)="abrir(meta)">
          <progress-bar [max]="meta.objetivo" [atual]="meta.acumulado"></progress-bar>
          ({{meta.acumulado}} / {{meta.objetivo}})
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="editar(meta)">
            <ion-icon name="paper"></ion-icon>
            <div>{{ 'EDIT' | translate }}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small (click)="remover(meta)">
            <ion-icon name="trash"></ion-icon>
            <div>{{ 'REMOVE' | translate }}</div>
          </button>
        </ion-col>
      </ion-row>
    
    </ion-card>


    <!-- FAB -->
    <ion-fab bottom right>
      <button ion-fab (click)="novo()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
