<ion-header>
  <ion-navbar>
    <ion-title *ngIf="meta.id != ''">{{ 'EDIT_GOAL' | translate }} </ion-title>
    <ion-title *ngIf="meta.id == ''">{{ 'CREATE_GOAL' | translate }}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

    <ion-list>
        <ion-item-group>
          <ion-item-divider color="light">{{ 'DETAILS' | translate }}</ion-item-divider>
          <!-- TITULO -->
          <ion-item>
            <ion-label fixed>{{ 'TITLE' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="meta.titulo" ></ion-input>
          </ion-item>
      
          <!-- Valor total -->
          <ion-item>
            <ion-label fixed>{{ 'GOAL' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="meta.objetivo" (ionBlur)="recomendado()"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>{{ 'HAS_DEADLINE' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="meta.temPrazo" checked=""  ></ion-toggle>
          </ion-item>
      
          <div [hidden]="!meta.temPrazo">
          <!-- PRAZO -->
          <ion-item>
            <ion-label fixed>{{ 'DEADLINE' | translate }}</ion-label>
            <ion-input type="date" [(ngModel)]="meta.prazo" (ionBlur)="recomendado()" ></ion-input>
          </ion-item>
      
          <!-- FREQUENCIA -->
          <ion-item>
            <ion-label>{{ 'FREQUENCE_DEPOSIT' | translate }}</ion-label>
            <ion-select [(ngModel)]="meta.frequencia" (ionChange)="recomendado()" >
              <ion-option value="1" >{{ 'DAILY' | translate }}</ion-option>
              <ion-option value="2" >{{ 'WEEKLY' | translate }}</ion-option>
              <ion-option value="3" >{{ 'MONTHLY' | translate }}</ion-option>
              <ion-option value="4" >{{ 'SEMESTER' | translate }}</ion-option>
              <ion-option value="5" >{{ 'ANNUAL' | translate }}</ion-option>
            </ion-select>
          </ion-item>
      
          <!-- RECOMENDACACAO -->
          <ion-item>
              <p>{{ 'NEXT_DEPOSIT_RECOMMENDATION' | translate }} </p>
              <div id="valor-recomendado">{{ meta.valorRecomendado }}</div>
          </ion-item>
        </div>
      </ion-item-group>

      <!-- MEMBROS -->
      <ion-item-group>
          <ion-item-divider color="light">{{ 'MEMBERS' | translate }}</ion-item-divider>

          <!-- MEMBRO -->
          <ion-item *ngFor="let membro of meta.membros"><h2>{{membro.email}}</h2></ion-item>
          <!-- [FIM] MEMBRO -->

          <button ion-item (click)="adicionarMembro()" color="secondary" text-center>
            <ion-icon name="add"></ion-icon> {{ 'ADD_MEMBER' | translate }}
          </button>
      </ion-item-group>
      <!-- [FIM] MEMBROS -->
    </ion-list>


    <button ion-button full (click)="salvar()">{{ 'SAVE' | translate }}</button>
</ion-content>
