page-objetivo-geral {
    #resumo {
        height: 170px;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: white;
        background-image: linear-gradient(to bottom, #43e97b 0%, #80BD9E 100%);
        font-family: 'Quicksand', sans-serif;

        h1 {
            margin-top: 5px;
        }
        h4 {
            margin-top: 2px;
        }
    }

    .deposit {
        color: green;
        font-size: 20px;
    }

    .withdraw {
        color: red;
        font-size: 20px;
    }

    .usuario-lista {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    .usuario-contribuicao {
        text-align: center;
        font-size: 16px;
    }
}
