<ion-header no-border>
  <ion-navbar>
    <ion-title>Objetivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- RESUMO -->
  <div id="resumo">
      <h2>{{meta.titulo}}</h2>
      <h4>
          {{ 'GOAL' | translate }}: {{meta.objetivo  | dinheiro}}
      </h4>
      <h4>{{ 'CURRENT' | translate }}: {{ meta.acumulado | dinheiro }} ({{  ((meta.acumulado * 100)/meta.objetivo).toFixed(2) }}%)</h4>      
      <h4 *ngIf="meta.temPrazo">
        {{ 'NEXT_DEPOSIT_RECOMMENDATION' | translate }} ${{meta.valorRecomendado | dinheiro }}
      </h4>
    </div>
  <!-- [FIM] RESUMO -->

  <ion-list>
      <div *ngFor="let metasUsuario of meta.transacoesPorUsuario">
        <!-- USUARIO -->
        <ion-list-header>
          <h2 class="usuario-lista">{{ metasUsuario.usuario }}</h2> 
          <p class="usuario-contribuicao">Total: {{ metasUsuario.total | dinheiro }}</p>
        </ion-list-header>
        
        <!-- HISTORICO -->
        <ion-item-sliding *ngFor="let transacao of metasUsuario.transacoes">
        
          <!-- DESCRIÇÃO -->
          <ion-item>
            <ion-thumbnail item-start >
              <img [src]="'../../assets/imgs/'+(transacao.deposito ? 'deposit':'withdraw')+'.png'">
            </ion-thumbnail>
            <h2 [ngClass]="{'deposit': transacao.deposito, 'withdraw': !transacao.deposito}">{{ (transacao.deposito ? '+' : '-')}} $$$ {{ transacao.valor | dinheiro }}</h2>
            <p>{{ transacao.data | dataBrasil }}</p>
            <p *ngIf="transacao.categoria != undefinied && transacao.categoria != ''">{{ transacao.categoria }}</p>  
          </ion-item>

          <!-- OPCÕES -->
          <ion-item-options side="right" *ngIf="metasUsuario.usuario == usuario">
            <button ion-button color="secondary" (click)="editar(transacao)">
              <ion-icon name="paper"></ion-icon>
              {{ 'EDIT' | translate }}
            </button>
            <button ion-button color="danger" (click)="remover(transacao)">
              <ion-icon name="trash"></ion-icon>
              {{ 'REMOVE' | translate }}
            </button>
          </ion-item-options>
        </ion-item-sliding>
       
      </div>
  </ion-list>

  <ion-fab right top>
    <button ion-fab (click)="adicionarTransacao()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
   

</ion-content>
